## Load Data into Courses

As part of this topic, you need to develop the required logic (Step 3 below) to load the data into the table.
* Make sure courses table is created
* Setup courses data
* Load data into the table
* Validate data in the table

In [ ]:
%run 00_get_database_connection.ipynb
%run 02_create_table_for_courses.ipynb

env: DATABASE_URL=postgresql://itv002480_sms_user:aovcbi6mp6qz1womp2qxtybt5qo8lmxu@m01.itversity.com:5433/itv002480_sms_db

### Step 1: Make sure courses table is created

You need to ensure courses table is created before going further and load data into the table.

In [ ]:
connection = get_pg_connection(
    host=postgres_host,
    port=postgres_port,
    database=f'{username}_sms_db',
    user=f'{username}_sms_user',
    password=password
)

In [ ]:
cursor = connection.cursor()

In [ ]:
cursor.execute(f"""
    SELECT * FROM information_schema.tables 
    WHERE table_catalog = '{username}_sms_db' AND table_schema = 'public'
    LIMIT 10
""")

In [ ]:
for row in cursor:
    print(row)

### Step 2: Setup courses data

Let us make sure we have list of tuples which contain course data.

In [ ]:
courses = [('Programming using Python', 'Bob Dillon', 'published', '2020-09-30'),
 ('Data Engineering using Python', 'Bob Dillon', 'published', '2020-07-15'),
 ('Data Engineering using Scala', 'Elvis Presley', 'draft', None),
 ('Programming using Scala', 'Elvis Presley', 'published', '2020-05-12'),
 ('Programming using Java', 'Mike Jack', 'inactive', '2020-08-10'),
 ('Web Applications - Python Flask', 'Bob Dillon', 'inactive', '2020-07-20'),
 ('Web Applications - Java Spring', 'Mike Jack', 'draft', None),
 ('Pipeline Orchestration - Python', 'Bob Dillon', 'draft', None),
 ('Streaming Pipelines - Python', 'Bob Dillon', 'published', '2020-10-05'),
 ('Web Applications - Scala Play', 'Elvis Presley', 'inactive', '2020-09-30'),
 ('Web Applications - Python Django', 'Bob Dillon', 'published', '2020-06-23'),
 ('Server Automation - Ansible', 'Uncle Sam', 'published', '2020-07-05')]

### Step 3: Load Data into the table

Here you need to develop the logic which will insert the data into the table. Make sure to close connection after loading the data.

In [ ]:
query = ("""
    INSERT INTO courses 
        (course_name, course_author, course_status, course_published_dt)
    VALUES 
        (%s, %s, %s, %s)
""")

cursor.executemany(query, courses)
connection.commit()

cursor.close()
connection.close()

### Step 4: Validate Data

Compare the output with the input data and make sure that every thing is loaded properly.

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://{username}_sms_user:{password}@{postgres_host}:{postgres_port}/{username}_sms_db

In [ ]:
%%sql

SELECT * FROM courses