## Getting first and last values

Let us see how we can get first and last value based on the criteria.

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [1]:
val username = System.getProperty("user.name")

username = itv002480

itv002480

In [2]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Windowing Functions").
    master("yarn").
    getOrCreate

username = itv002480
spark = org.apache.spark.sql.SparkSession@58410f3c

org.apache.spark.sql.SparkSession@58410f3c

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

Here is the example of using first_value.

In [3]:
%%sql

USE itv002480_retail

Waiting for a Spark session to start...

++
||
++
++

In [4]:
%%sql

SELECT t.*,
  first_value(order_item_product_id) OVER (
    PARTITION BY order_date ORDER BY revenue DESC
  ) first_product_id,
  first_value(revenue) OVER (
    PARTITION BY order_date ORDER BY revenue DESC
  ) first_revenue
FROM daily_product_revenue t
ORDER BY order_date, revenue DESC
LIMIT 100

|2013-07-25 00:00:...|                 1014|2...

+--------------------+---------------------+-------+----------------+-------------+
|          order_date|order_item_product_id|revenue|first_product_id|first_revenue|
+--------------------+---------------------+-------+----------------+-------------+
|2013-07-25 00:00:...|                 1004|5599.72|            1004|      5599.72|
|2013-07-25 00:00:...|                  191|5099.49|            1004|      5599.72|
|2013-07-25 00:00:...|                  957| 4499.7|            1004|      5599.72|
|2013-07-25 00:00:...|                  365|3359.44|            1004|      5599.72|
|2013-07-25 00:00:...|                 1073|2999.85|            1004|      5599.72|
|2013-07-25 00:00:...|                 1014|2798.88|            1004|      5599.72|
|2013-07-25 00:00:...|                  403|1949.85|            1004|      5599.72|
|2013-07-25 00:00:...|                  502| 1650.0|            1004|      5599.72|
|2013-07-25 00:00:...|                  627|1079.73|            1004|      5599.72|
|2013-07-25 00:00:...|                  226| 599.99|            1004|      5599.72|
+--------------------+---------------------+-------+----------------+-------------+
only showing top 10 rows

In [5]:
spark.sql("""
    SELECT t.*,
      first_value(order_item_product_id) OVER (
        PARTITION BY order_date ORDER BY revenue DESC
      ) first_product_id,
      first_value(revenue) OVER (
        PARTITION BY order_date ORDER BY revenue DESC
      ) first_revenue
    FROM daily_product_revenue t
    ORDER BY order_date, revenue DESC
""").
    show(100, false)

+---------------------+---------------------+--------+----------------+-------------+
|order_date           |order_item_product_id|revenue |first_product_id|first_revenue|
+---------------------+---------------------+--------+----------------+-------------+
|2013-07-25 00:00:00.0|1004                 |5599.72 |1004            |5599.72      |
|2013-07-25 00:00:00.0|191                  |5099.49 |1004            |5599.72      |
|2013-07-25 00:00:00.0|957                  |4499.7  |1004            |5599.72      |
|2013-07-25 00:00:00.0|365                  |3359.44 |1004            |5599.72      |
|2013-07-25 00:00:00.0|1073                 |2999.85 |1004            |5599.72      |
|2013-07-25 00:00:00.0|1014                 |2798.88 |1004            |5599.72      |
|2013-07-25 00:00:00.0|403                  |1949.85 |1004            |5599.72      |
|2013-07-25 00:00:00.0|502                  |1650.0  |1004            |5599.72      |
|2013-07-25 00:00:00.0|627                  |1079.73 |1004            |5599.72      |
|2013-07-25 00:00:00.0|226                  |599.99  |1004            |5599.72      |
|2013-07-25 00:00:00.0|24                   |319.96  |1004            |5599.72      |
|2013-07-25 00:00:00.0|821                  |207.96  |1004            |5599.72      |
|2013-07-25 00:00:00.0|625                  |199.99  |1004            |5599.72      |
|2013-07-25 00:00:00.0|705                  |119.99  |1004            |5599.72      |
|2013-07-25 00:00:00.0|572                  |119.97  |1004            |5599.72      |
|2013-07-25 00:00:00.0|666                  |109.99  |1004            |5599.72      |
|2013-07-25 00:00:00.0|725                  |108.0   |1004            |5599.72      |
|2013-07-25 00:00:00.0|134                  |100.0   |1004            |5599.72      |
|2013-07-25 00:00:00.0|906                  |99.96   |1004            |5599.72      |
|2013-07-25 00:00:00.0|828                  |95.97   |1004            |5599.72      |
|2013-07-25 00:00:00.0|810                  |79.96   |1004            |5599.72      |
|2013-07-25 00:00:00.0|926                  |79.95   |1004            |5599.72      |
|2013-07-25 00:00:00.0|924                  |79.95   |1004            |5599.72      |
|2013-07-25 00:00:00.0|93                   |74.97   |1004            |5599.72      |
|2013-07-25 00:00:00.0|835                  |63.98   |1004            |5599.72      |
|2013-07-25 00:00:00.0|897                  |49.98   |1004            |5599.72      |
|2013-07-26 00:00:00.0|1004                 |10799.46|1004            |10799.46     |
|2013-07-26 00:00:00.0|365                  |7978.67 |1004            |10799.46     |
|2013-07-26 00:00:00.0|957                  |6899.54 |1004            |10799.46     |
|2013-07-26 00:00:00.0|191                  |6799.32 |1004            |10799.46     |
|2013-07-26 00:00:00.0|1014                 |4798.08 |1004            |10799.46     |
|2013-07-26 00:00:00.0|502                  |4250.0  |1004            |10799.46     |
|2013-07-26 00:00:00.0|1073                 |3999.8  |1004            |10799.46     |
|2013-07-26 00:00:00.0|403                  |3249.75 |1004            |10799.46     |
|2013-07-26 00:00:00.0|627                  |3039.24 |1004            |10799.46     |
|2013-07-26 00:00:00.0|691                  |399.95  |1004            |10799.46     |
|2013-07-26 00:00:00.0|818                  |287.94  |1004            |10799.46     |
|2013-07-26 00:00:00.0|565                  |280.0   |1004            |10799.46     |
|2013-07-26 00:00:00.0|278                  |269.94  |1004            |10799.46     |
|2013-07-26 00:00:00.0|822                  |239.95  |1004            |10799.46     |
|2013-07-26 00:00:00.0|282                  |159.95  |1004            |10799.46     |
|2013-07-26 00:00:00.0|804                  |159.92  |1004            |10799.46     |
|2013-07-26 00:00:00.0|917                  |153.93  |1004            |10799.46     |
|2013-07-26 00:00:00.0|982                  |149.99  |1004            |10799.46     |
|2013-07-26 00:00:00.0|116                  |134.97  |1004            |10799.46     |
|2013-07-26 00:00:00.0|828                  |127.96  |1004            |10799.46     |
|2013-07-26 00:00:00.0|135                  |110.0   |1004            |10799.46     |
|2013-07-26 00:00:00.0|134                  |100.0   |1004            |10799.46     |
|2013-07-26 00:00:00.0|564                  |90.0    |1004            |10799.46     |
|2013-07-26 00:00:00.0|792                  |89.94   |1004            |10799.46     |
|2013-07-26 00:00:00.0|897                  |74.97   |1004            |10799.46     |
|2013-07-26 00:00:00.0|775                  |39.96   |1004            |10799.46     |
|2013-07-26 00:00:00.0|172                  |30.0    |1004            |10799.46     |
|2013-07-27 00:00:00.0|1004                 |9599.52 |1004            |9599.52      |
|2013-07-27 00:00:00.0|191                  |5999.4  |1004            |9599.52      |
|2013-07-27 00:00:00.0|957                  |5699.62 |1004            |9599.52      |
|2013-07-27 00:00:00.0|1073                 |5399.73 |1004            |9599.52      |
|2013-07-27 00:00:00.0|365                  |5099.15 |1004            |9599.52      |
|2013-07-27 00:00:00.0|502                  |5050.0  |1004            |9599.52      |
|2013-07-27 00:00:00.0|1014                 |4498.2  |1004            |9599.52      |
|2013-07-27 00:00:00.0|403                  |2469.81 |1004            |9599.52      |
|2013-07-27 00:00:00.0|627                  |2039.49 |1004            |9599.52      |
|2013-07-27 00:00:00.0|203                  |399.99  |1004            |9599.52      |
|2013-07-27 00:00:00.0|728                  |390.0   |1004            |9599.52      |
|2013-07-27 00:00:00.0|828                  |223.93  |1004            |9599.52      |
|2013-07-27 00:00:00.0|771                  |199.95  |1004            |9599.52      |
|2013-07-27 00:00:00.0|172                  |150.0   |1004            |9599.52      |
|2013-07-27 00:00:00.0|647                  |134.99  |1004            |9599.52      |
|2013-07-27 00:00:00.0|715                  |129.99  |1004            |9599.52      |
|2013-07-27 00:00:00.0|567                  |125.0   |1004            |9599.52      |
|2013-07-27 00:00:00.0|93                   |124.95  |1004            |9599.52      |
|2013-07-27 00:00:00.0|135                  |110.0   |1004            |9599.52      |
|2013-07-27 00:00:00.0|924                  |95.94   |1004            |9599.52      |
|2013-07-27 00:00:00.0|886                  |74.97   |1004            |9599.52      |
|2013-07-27 00:00:00.0|797                  |71.96   |1004            |9599.52      |
|2013-07-27 00:00:00.0|564                  |60.0    |1004            |9599.52      |
|2013-07-27 00:00:00.0|821                  |51.99   |1004            |9599.52      |
|2013-07-27 00:00:00.0|906                  |49.98   |1004            |9599.52      |
|2013-07-27 00:00:00.0|893                  |49.98   |1004            |9599.52      |
|2013-07-27 00:00:00.0|792                  |44.97   |1004            |9599.52      |
|2013-07-27 00:00:00.0|703                  |39.98   |1004            |9599.52      |
|2013-07-27 00:00:00.0|273                  |27.99   |1004            |9599.52      |
|2013-07-28 00:00:00.0|1004                 |5599.72 |1004            |5599.72      |
|2013-07-28 00:00:00.0|957                  |5099.66 |1004            |5599.72      |
|2013-07-28 00:00:00.0|365                  |4799.2  |1004            |5599.72      |
|2013-07-28 00:00:00.0|403                  |4419.66 |1004            |5599.72      |
|2013-07-28 00:00:00.0|191                  |4299.57 |1004            |5599.72      |
|2013-07-28 00:00:00.0|502                  |3650.0  |1004            |5599.72      |
|2013-07-28 00:00:00.0|1014                 |2748.9  |1004            |5599.72      |
|2013-07-28 00:00:00.0|1073                 |2399.88 |1004            |5599.72      |
|2013-07-28 00:00:00.0|627                  |1119.72 |1004            |5599.72      |
|2013-07-28 00:00:00.0|564                  |300.0   |1004            |5599.72      |
|2013-07-28 00:00:00.0|858                  |199.99  |1004            |5599.72      |
|2013-07-28 00:00:00.0|728                  |195.0   |1004            |5599.72      |
|2013-07-28 00:00:00.0|273                  |139.95  |1004            |5599.72      |
|2013-07-28 00:00:00.0|567                  |125.0   |1004            |5599.72      |
|2013-07-28 00:00:00.0|249                  |109.94  |1004            |5599.72      |
|2013-07-28 00:00:00.0|917                  |87.96   |1004            |5599.72      |
|2013-07-28 00:00:00.0|235                  |69.98   |1004            |5599.72      |
|2013-07-28 00:00:00.0|835                  |63.98   |1004            |5599.72      |
+---------------------+---------------------+--------+----------------+-------------+
only showing top 100 rows

Let us see an example with last_value. While using last_value we need to specify **ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING**.
* By default it uses `ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW`.
* The last value with in `UNBOUNDED PRECEDING AND CURRENT ROW` will be current record.
* To get the right value, we have to change the windowing clause to `ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING`.

In [6]:
%%sql

USE itv002480_retail

++
||
++
++

In [ ]:
%%sql

SELECT t.*,
    last_value(order_item_product_id) OVER (
        PARTITION BY order_date ORDER BY revenue
        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
    ) last_product_id,
    last_value(revenue) OVER (
        PARTITION BY order_date ORDER BY revenue
    ) last_revenue
FROM daily_product_revenue AS t
ORDER BY order_date, revenue DESC
LIMIT 100

In [ ]:
%%sql

SELECT t.*,
    last_value(order_item_product_id) OVER (
        PARTITION BY order_date ORDER BY revenue
        ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING
    ) last_product_id,
    last_value(revenue) OVER (
        PARTITION BY order_date ORDER BY revenue
        ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING
    ) last_revenue
FROM daily_product_revenue AS t
ORDER BY order_date, revenue DESC
LIMIT 100

In [ ]:
spark.sql("""
    SELECT t.*,
      last_value(order_item_product_id) OVER (
        PARTITION BY order_date ORDER BY revenue
        ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING
      ) last_product_id,
      last_value(revenue) OVER (
        PARTITION BY order_date ORDER BY revenue
        ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING
      )  last_revenue
    FROM daily_product_revenue AS t
    ORDER BY order_date, revenue DESC
""").
    show(100, false)