## Managing Spark Metastore Databases

Let us undestand how to manage Spark Metastore Databases.

* Make a habit of reviewing Language Manual.
* We can create database using **CREATE DATABASE** Command.
* For e. g.: `CREATE DATABASE itversity_demo;`
* If the database exists it will fail. If you want to ignore with out throwing error you can use **IF NOT EXISTS**
* e. g.: `CREATE DATABASE IF NOT EXISTS itversity_demo;`
* We can list the databases using `SHOW databases;`
* Spark Metastore is multi tenant database. To switch to a database, you can use **USE** Command. e. g.: `USE itversity_demo;`
* We can drop empty database by using `DROP DATABASE itversity_demo;`.
* Add cascade to drop all the tables and then the database `DROP DATABASE itversity_demo CASCADE;`.
* We can also specify location while creating the database - `CREATE DATABASE itversity_demo LOCATION '/user/itversity/custom/itversity_demo.db'`

In [1]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    master("yarn").
    appName(s"${username} | Spark SQL - Getting Started").
    getOrCreate

username = itv002480
spark = org.apache.spark.sql.SparkSession@64ad091e

org.apache.spark.sql.SparkSession@64ad091e

In [2]:
%%sql

DROP DATABASE IF EXISTS itv002480_demo

++
||
++
++

In [3]:
%%sql

CREATE DATABASE itv002480_demo

++
||
++
++

In [4]:
%%sql

CREATE DATABASE itv002480_demo

Magic sql failed to execute with error:
org.apache.hadoop.hive.metastore.api.AlreadyExistsException: Database itv002480_demo already exists;

In [5]:
%%sql

CREATE DATABASE IF NOT EXISTS itv002480_demo

++
||
++
++

In [6]:
%%sql

SHOW databases

+---------------+
|   databaseName|
+---------------+
|  07172021_nyse|
|07172021_retail|
|   07172021_sms|
|    1230_trendy|
|1230_trendytech|
|  1540retail_db|
|           1src|
|           2stg|
|           3etl|
|           4tmp|
+---------------+
only showing top 10 rows

In [7]:
%%sql

SELECT current_database()

+------------------+
|current_database()|
+------------------+
|    itv002480_demo|
+------------------+

In [8]:
%%sql

USE itv002480_demo

++
||
++
++

In [9]:
%%sql

SELECT current_database()

+------------------+
|current_database()|
+------------------+
|    itv002480_demo|
+------------------+

In [10]:
val username = System.getProperty("user.name")

username = itv002480

itv002480

In [11]:
import sys.process._
s"hdfs dfs -ls /user/${username}/warehouse/${username}_demo.db"!

warning: there was one feature warning; re-run with -feature for details

0

In [12]:
%%sql

CREATE TABLE table_demo (i INT)

++
||
++
++

In [13]:
import sys.process._
s"hdfs dfs -ls /user/${username}/warehouse/${username}_demo.db"!

Found 1 items
drwxr-xr-x   - itv002480 supergroup          0 2022-05-25 04:11 /user/itv002480/warehouse/itv002480_demo.db/table_demo

warning: there was one feature warning; re-run with -feature for details

0

In [14]:
%%sql

DROP DATABASE itv002480_demo CASCADE

++
||
++
++

In [15]:
import sys.process._
s"hdfs dfs -ls /user/${username}/warehouse/${username}_demo.db"!

ls: `/user/itv002480/warehouse/itv002480_demo.db': No such file or directory

warning: there was one feature warning; re-run with -feature for details

1

In [16]:
%%sql

CREATE DATABASE itversity_demo LOCATION '/user/itv002480/custom/itv002480_demo.db'

++
||
++
++

In [17]:
import sys.process._
s"hdfs dfs -ls /user/${username}/custom"! // Directory will be created if it does not exists

Found 1 items
drwxr-xr-x   - itv002480 supergroup          0 2022-05-25 03:40 /user/itv002480/custom/itv002480_demo.db

warning: there was one feature warning; re-run with -feature for details

0

In [18]:
import sys.process._
s"hdfs dfs -ls /user/${username}/custom/${username}_demo.db"!

warning: there was one feature warning; re-run with -feature for details

0