## Managed Tables vs. External Tables

Let us compare and contrast between Managed Tables and External Tables.

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [ ]:
val username = System.getProperty("user.name")

In [1]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Managing Tables - Basic DDL and DML").
    master("yarn").
    getOrCreate

username = itv002480
spark = org.apache.spark.sql.SparkSession@447c1781

org.apache.spark.sql.SparkSession@447c1781

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

* When we say EXTERNAL and specify LOCATION or LOCATION alone as part of CREATE TABLE, it makes the table EXTERNAL.
* Rest of the syntax is same as Managed Table.
* However, when we drop **Managed Table**, it will delete metadata from metastore as well as data from HDFS.
* When we drop **External Table**, only metadata will be dropped, not the data.
* Typically we use **External Table** when same dataset is processed by multiple frameworks such as Hive, Pig, Spark etc.
* We cannot run **TRUNCATE TABLE** command against External Tables.

In [2]:
%%sql

USE itv002480_retail

Waiting for a Spark session to start...

++
||
++
++

In [3]:
%%sql

SHOW tables

+----------------+-----------+-----------+
|        database|  tableName|isTemporary|
+----------------+-----------+-----------+
|itv002480_retail| categories|      false|
|itv002480_retail|  customers|      false|
|itv002480_retail|departments|      false|
|itv002480_retail|order_items|      false|
|itv002480_retail|     orders|      false|
|itv002480_retail|   products|      false|
+----------------+-----------+-----------+

In [4]:
spark.sql("DESCRIBE FORMATTED orders").show(200, false)

----------------------------------------+--------------------------------+
|col_name                    |data_type                                                              |comment                         |
+----------------------------+-----------------------------------------------------------------------+--------------------------------+
|order_id                    |int                                                                    |Unique order id                 |
|order_date                  |string                                                                 |Date on which order is placed   |
|order_customer_id           |int                                                                    |Customer id who placed the order|
|order_status                |string                                                                 |Current status of the order     |
|                            |                                                                       |                                |
|# Detailed Table Information|                                                                       |                                |
|Database                    |itv002480_retail                                                       |                                |
|Table                       |orders                                                                 |                                |
|Owner                       |itv002480                                                              |                                |
|Created Time                |Fri May 27 08:24:27 EDT 2022                                           |                                |
|Last Access                 |Wed Dec 31 19:00:00 EST 1969                                           |                                |
|Created By                  |Spark 2.4.7                                                            |                                |
|Type                        |EXTERNAL                                                               |                                |
|Provider                    |hive                                                                   |                                |
|Comment                     |Table to save order level details                                      |                                |
|Table Properties            |[transient_lastDdlTime=1653654296, STATS_GENERATED_VIA_STATS_TASK=true]|                                |
|Statistics                  |2999944 bytes                                                          |                                |
|Location                    |hdfs://m01.itversity.com:9000/user/itv002480/external/retail_db/orders |                                |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                     |                                |
|InputFormat                 |org.apache.hadoop.mapred.TextInputFormat                               |                                |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat             |                                |
|Storage Properties          |[field.delim=,, serialization.format=,]                                |                                |
|Partition Provider          |Catalog                                                                |                                |
+----------------------------+-----------------------------------------------------------------------+--------------------------------+

+----------------------------+-------------------------------

In [5]:
%%sql

TRUNCATE TABLE orders

Magic sql failed to execute with error:
Operation not allowed: TRUNCATE TABLE on external tables: `itv002480_retail`.`orders`;

In [6]:
spark.sql("DESCRIBE FORMATTED order_items").show(200, false)

+----------------------------+--------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                             |comment|
+----------------------------+--------------------------------------------------------------------------------------+-------+
|order_item_id               |int                                                                                   |null   |
|order_item_order_id         |int                                                                                   |null   |
|order_item_product_id       |int                                                                                   |null   |
|order_item_quantity         |int                                                                                   |null   |
|order_item_subtotal         |float                                                                                 |null   |
|order_item_product_price    |float                                                                                 |null   |
|                            |                                                                                      |       |
|# Detailed Table Information|                                                                                      |       |
|Database                    |itv002480_retail                                                                      |       |
|Table                       |order_items                                                                           |       |
|Owner                       |itv002480                                                                             |       |
|Created Time                |Thu May 26 08:01:04 EDT 2022                                                          |       |
|Last Access                 |Wed Dec 31 19:00:00 EST 1969                                                          |       |
|Created By                  |Spark 2.4.7                                                                           |       |
|Type                        |MANAGED                                                                               |       |
|Provider                    |hive                                                                                  |       |
|Table Properties            |[transient_lastDdlTime=1653566467, STATS_GENERATED_VIA_STATS_TASK=true]               |       |
|Statistics                  |5408880 bytes                                                                         |       |
|Location                    |hdfs://m01.itversity.com:9000/user/itv002480/warehouse/itv002480_retail.db/order_items|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                                    |       |
|InputFormat                 |org.apache.hadoop.mapred.TextInputFormat                                              |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat                            |       |
|Storage Properties          |[field.delim=,, serialization.format=,]                                               |       |
|Partition Provider          |Catalog                                                                               |       |
+----------------------------+--------------------------------------------------------------------------------------+-------+

In [7]:
%%sql

TRUNCATE TABLE order_items

++
||
++
++

In [8]:
%%sql

DROP TABLE orders

++
||
++
++

In [ ]:
%%sql

DROP TABLE order_items

In [ ]:
import sys.process._

s"hdfs dfs -ls /user/${username}/retail_db/orders" !