## Overview of File Formats
Let us go through the details about different file formats supported by STORED AS Clause.

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [ ]:
val username = System.getProperty("user.name")

In [1]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Managing Tables - Basic DDL and DML").
    master("yarn").
    getOrCreate

username = itv002480
spark = org.apache.spark.sql.SparkSession@cfb1eaf

org.apache.spark.sql.SparkSession@cfb1eaf

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

* Go to this [page](https://cwiki.apache.org/confluence/display/Hive/LanguageManual+DDL) and review supported file formats.
* Supported File Formats
  * TEXTFILE
  * ORC
  * PARQUET
  * AVRO
  * SEQUENCEFILE - is not important
  * JSONFILE - only available in recent vesions of Hive.
  * and more
* We can even specify custom file formats (out of scope)

In [2]:
%%sql

DROP DATABASE IF EXISTS itv002480_sms CASCADE

Waiting for a Spark session to start...

++
||
++
++

In [3]:
%%sql

CREATE DATABASE IF NOT EXISTS itv002480_sms

++
||
++
++

In [4]:
%%sql

USE itv002480_sms

++
||
++
++

In [5]:
%%sql

CREATE TABLE students (
    student_id INT,
    student_first_name STRING,
    student_last_name STRING,
    student_phone_numbers ARRAY<STRING>,
    student_address STRUCT<street:STRING, city:STRING, state:STRING, zip:STRING>
) STORED AS parquet

++
||
++
++

In [6]:
%%sql

INSERT INTO students VALUES (1, 'Scott', 'Tiger', NULL, NULL)

++
||
++
++

In [7]:
%%sql

INSERT INTO students VALUES (2, 'Donald', 'Duck', ARRAY('1234567890', '2345678901'), NULL)

++
||
++
++

In [8]:
%%sql

INSERT INTO students VALUES 
    (3, 'Mickey', 'Mouse', ARRAY('1234567890', '2345678901'), STRUCT('A Street', 'One City', 'Some State', '12345')),
    (4, 'Bubble', 'Guppy', ARRAY('5678901234', '6789012345'), STRUCT('Bubbly Street', 'Guppy', 'La la land', '45678'))

++
||
++
++

In [9]:
%%sql

SELECT * FROM students

+----------+------------------+-----------------+-----------------...

+----------+------------------+-----------------+---------------------+--------------------+
|student_id|student_first_name|student_last_name|student_phone_numbers|     student_address|
+----------+------------------+-----------------+---------------------+--------------------+
|         4|            Bubble|            Guppy| [5678901234, 6789...|[Bubbly Street, G...|
|         3|            Mickey|            Mouse| [1234567890, 2345...|[A Street, One Ci...|
|         2|            Donald|             Duck| [1234567890, 2345...|                null|
|         1|             Scott|            Tiger|                 null|                null|
+----------+------------------+-----------------+---------------------+--------------------+

In [10]:
import sys.process._
val username = System.getProperty("user.name")

username = itv002480

itv002480

In [11]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_sms.db/students"!

Found 5 items
-rw-r--r--   3 itv002480 supergroup          0 2022-05-27 12:01 /user/itv002480/warehouse/itv002480_sms.db/students/_SUCCESS
-rw-r--r--   3 itv002480 supergroup       2038 2022-05-27 12:01 /user/itv002480/warehouse/itv002480_sms.db/students/part-00000-135790be-ab8e-47e0-9fce-4a1825834a43-c000.snappy.parquet
-rw-r--r--   3 itv002480 supergroup       2490 2022-05-27 12:01 /user/itv002480/warehouse/itv002480_sms.db/students/part-00000-6fd1e336-aeb2-4021-8bba-3e01a28fe210-c000.snappy.parquet
-rw-r--r--   3 itv002480 supergroup       2117 2022-05-27 12:01 /user/itv002480/warehouse/itv002480_sms.db/students/part-00000-ffd97e4b-696a-44d8-8df2-43752b78ece3-c000.snappy.parquet
-rw-r--r--   3 itv002480 supergroup       2508 2022-05-27 12:01 /user/itv002480/warehouse/itv002480_sms.db/students/part-00001-6fd1e336-aeb2-4021-8bba-3e01a28fe210-c000.snappy.parquet

warning: there was one feature warning; re-run with -feature for details

0