## Overview of Numeric Functions

Here are some of the numeric functions we might use quite often.

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [1]:
val username = System.getProperty("user.name")

username = itv002480

itv002480

In [2]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Predefined Functions").
    master("yarn").
    getOrCreate

username = itv002480
spark = org.apache.spark.sql.SparkSession@2b9fd846

org.apache.spark.sql.SparkSession@2b9fd846

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

* `abs` - always return positive number
* `sum`, `avg`
* `round` - rounds off to specified precision
* `ceil`, `floor` - always return integer.
* `greatest`
* `min`, `max`
* `rand`
* `pow`, `sqrt`
* `cumedist`, `stddev`, `variance`

Some of the functions highlighted are aggregate functions, eg: `sum`, `avg`, `min`, `max` etc.

In [3]:
%%sql

SELECT abs(-10.5), abs(10)

Waiting for a Spark session to start...

+----------+-------+
|abs(-10.5)|abs(10)|
+----------+-------+
|      10.5|     10|
+----------+-------+

In [4]:
%%sql

USE itv002480_retail

++
||
++
++

In [5]:
%%sql

SHOW tables

+----------------+-----------------+-----------+
|        database|        tableName|isTemporary|
+----------------+-----------------+-----------+
|itv002480_retail|             dual|      false|
|itv002480_retail|      order_items|      false|
|itv002480_retail|order_items_stage|      false|
|itv002480_retail|           orders|      false|
|itv002480_retail|      orders_part|      false|
+----------------+-----------------+-----------+

In [6]:
%%sql

SELECT order_item_order_id, order_item_subtotal FROM order_items
WHERE order_item_order_id = 2

+-------------------+-------------------+
|order_item_order_id|order_item_subtotal|
+-------------------+-------------------+
|                  2|             199.99|
|                  2|              250.0|
|                  2|             129.99|
+-------------------+-------------------+

In [7]:
%%sql

SELECT avg(order_item_subtotal) AS order_revenue_avg FROM order_items
WHERE order_item_order_id = 2

+------------------+
| order_revenue_avg|
+------------------+
|193.32667032877603|
+------------------+

In [8]:
%%sql

SELECT order_item_order_id, 
    avg(order_item_subtotal) AS order_revenue_avg 
FROM order_items
GROUP BY order_item_order_id
LIMIT 10

+-------------------+------------------+
|order_item_order_id| order_revenue_avg|
+-------------------+------------------+
|                148|159.99666849772134|
|                463|207.48000240325928|
|                471| 84.99000358581543|
|                496|  88.3900016784668|
|               1088|124.98500442504883|
|               1580|299.95001220703125|
|               1591|146.61999893188477|
|               1645| 301.9580047607422|
|               2366| 299.9700012207031|
|               2659|144.98200302124025|
+-------------------+------------------+

In [9]:
%%sql

SELECT order_item_order_id, 
    sum(order_item_subtotal) AS order_revenue_sum
FROM order_items
GROUP BY order_item_order_id
LIMIT 10

+-------------------+-----------------+
|order_item_order_id|order_revenue_sum|
+-------------------+-----------------+
|              35351|629.9300231933594|
|              35361|614.8800086975098|
|              35689|799.8800048828125|
|              35694|889.9400291442871|
|              35820|949.9600219726562|
|              35912|799.9600219726562|
|              35947|519.9600143432617|
|              35982|1201.820016860962|
|              36131|554.9500122070312|
|              36224|729.9600219726562|
+-------------------+-----------------+

In [10]:
%%sql

SELECT
    round(10.58) rnd,
    floor(10.58) flr,
    ceil(10.58) cl

+---+---+---+
|rnd|flr| cl|
+---+---+---+
| 11| 10| 11|
+---+---+---+

In [11]:
%%sql

SELECT
    round(10.44) rnd1,
    round(10.44, 1) rnd1,
    round(10.46, 1) rnd2,
    floor(10.44) flr,
    ceil(10.44) cl

+----+----+----+---+---+
|rnd1|rnd1|rnd2|flr| cl|
+----+----+----+---+---+
|  10|10.4|10.5| 10| 11|
+----+----+----+---+---+

In [12]:
%%sql

SELECT avg(order_item_subtotal) AS order_revenue_avg FROM order_items
WHERE order_item_order_id = 2

+------------------+
| order_revenue_avg|
+------------------+
|193.32667032877603|
+------------------+

In [13]:
%%sql

SELECT round(avg(order_item_subtotal), 2) AS order_revenue_avg 
FROM order_items
WHERE order_item_order_id = 2

+-----------------+
|order_revenue_avg|
+-----------------+
|           193.33|
+-----------------+

In [14]:
%%sql

SELECT order_item_order_id, 
    round(avg(order_item_subtotal), 2) AS order_revenue_avg 
FROM order_items
GROUP BY order_item_order_id
LIMIT 10

+-------------------+-----------------+
|order_item_order_id|order_revenue_avg|
+-------------------+-----------------+
|              35351|           157.48|
|              35361|           122.98|
|              35689|           266.63|
|              35694|           177.99|
|              35820|           237.49|
|              35912|           199.99|
|              35947|           259.98|
|              35982|           240.36|
|              36131|           138.74|
|              36224|           243.32|
+-------------------+-----------------+

In [15]:
%%sql

SELECT order_item_order_id, 
    round(sum(order_item_subtotal), 2) AS order_revenue_sum
FROM order_items
GROUP BY order_item_order_id
LIMIT 10

+-------------------+-----------------+
|order_item_order_id|order_revenue_sum|
+-------------------+-----------------+
|                148|           479.99|
|                463|           829.92|
|                471|           169.98|
|                496|           441.95|
|               1088|           249.97|
|               1580|           299.95|
|               1591|           439.86|
|               1645|          1509.79|
|               2366|           299.97|
|               2659|           724.91|
+-------------------+-----------------+

In [16]:
%%sql

SELECT greatest(10, 11, 13, -13)

+-------------------------+
|greatest(10, 11, 13, -13)|
+-------------------------+
|                       13|
+-------------------------+

In [17]:
%%sql

SELECT rand() AS rand

+-------------------+
|               rand|
+-------------------+
|0.27080790586093995|
+-------------------+

In [18]:
%%sql

SELECT cast(round(rand() * 1) AS int) AS random_int

+----------+
|random_int|
+----------+
|         0|
+----------+

In [19]:
%%sql

SELECT order_item_order_id, 
    round(sum(order_item_subtotal), 2) AS order_revenue_sum,
    min(order_item_subtotal) AS order_item_subtotal_min,
    max(order_item_subtotal) AS order_item_subtotal_max 
FROM order_items
GROUP BY order_item_order_id
LIMIT 10

|            ...

+-------------------+-----------------+-----------------------+-----------------------+
|order_item_order_id|order_revenue_sum|order_item_subtotal_min|order_item_subtotal_max|
+-------------------+-----------------+-----------------------+-----------------------+
|                243|          1179.89|                  29.97|                 399.98|
|                392|          1209.84|                 129.99|                 399.98|
|                540|           609.93|                  59.99|                 299.98|
|                623|           239.96|                 239.96|                 239.96|
|                737|            49.98|                  49.98|                  49.98|
|                858|            100.0|                  100.0|                  100.0|
|                897|           1129.9|                 129.99|                 399.98|
|               1025|           529.89|                 129.99|                  249.9|
|               1084|            100.0|                  100.0|                  100.0|
|               1127|            200.0|                  200.0|                  200.0|
+-------------------+-----------------+-----------------------+-----------------------+

In [20]:
%%sql

SELECT order_item_order_id, order_item_subtotal
FROM order_items
WHERE order_item_order_id = 2

+-------------------+-------------------+
|order_item_order_id|order_item_subtotal|
+-------------------+-------------------+
|                  2|             199.99|
|                  2|              250.0|
|                  2|             129.99|
+-------------------+-------------------+

In [21]:
%%sql

SELECT round(sum(order_item_subtotal), 2) AS order_revenue_sum,
    min(order_item_subtotal) AS order_item_subtotal_min,
    max(order_item_subtotal) AS order_item_subtotal_max 
FROM order_items
WHERE order_item_order_id = 2

+-----------------+-----------------------+-----------------------+
|order_revenue_sum|order_item_subtotal_min|order_item_subtotal_max|
+-----------------+-----------------------+-----------------------+
|           579.98|                 129.99|                  250.0|
+-----------------+-----------------------+-----------------------+